.custom-tabs-container {
    width: 100%;
}

.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color: #586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #F4F4F8;
    padding: 12px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tab:hover {
  background-color: white !important;
}

.custom-tab--selected {
    font-weight: bold !important;
    color: black !important;
    box-shadow: 1px 1px 0px white !important;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}

.custom-tab-backend {
  color: #586069;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #E6F0F3 !important;
  padding: 12px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab-backend:hover {
  background: white !important;
}

.custom-tab-backend--selected {
  font-weight: bold !important;
  color: black !important;
  background-color: white !important;
  box-shadow: 1px 1px 0px white !important;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-top: 3px solid #e36209 !important;
}

.custom-tab-shutdown {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #E0DCDC !important;
  padding: 12px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab-shutdown:hover {
  background-color: white !important;
}

.custom-tab-shutdown-selected {
    color: red !important;
    font-weight: 900 !important;
    font-size: large !important;
    background-color: #E0DCDC !important;
    box-shadow: 1px 1px 0px white !important;
    border-left: 1px solid #909090 !important;
    border-right: 1px solid #909090 !important;
    border-top: 3px solid #e36209 !important;
}
